<section class='field'>
  <div class="enable-ama">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_topic_ama}}
      {{i18n 'ama.allow_ama'}}
    </label>
  </div>
</section>